<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Bookstore</title>

    <script>
        const handleBookRowClicked = (row) => {
            window.location.href = "http://127.0.0.1:5000/update/book/" + row.rowIndex
        }

        const handleMagazineRowClicked = (row) => {
            window.location.href = "http://127.0.0.1:5000/update/magazine/" + row.rowIndex
        }
    </script>
</head>
<body>
    <nav class="px-6 py-2 flex justify-between border-b-[1px]">
        <a href="/" class="px-4 font-medium hover:text-blue-900">Bookstore</a>
        <div>
            <a href="/dashboard" class="px-4 text-sm hover:text-blue-900">Dashboard</a>
            <a href="/auth/create" class="px-4 text-sm hover:text-blue-900">Sign Up</a>
            <a href="/auth/login" class="px-4 text-sm hover:text-blue-900">Log In</a>
        </div>
    </nav>
    <main class="m-8 box-border">
        <div class="my-10">
            <span>Books</span>
            <table class="w-full text-left my-4 sortable">
                <tr class="border-b-[1px]">
                    <th class="px-3">Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Genre</th>
                    <th>Pages</th>
                    <th class="px-3">ISBN</th>
                </tr>
                {% for book in books %}
                <tr class="border-b-[1px] hover:bg-blue-50 cursor-pointer" onclick="handleBookRowClicked(this)">
                    <td class="px-3 w-[35vw]">{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>$ {{book.price}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.pages}}</td>
                    <td class="px-3">{{book.ISBN}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="my-10">
            <span>Magazines</span>
            <table class="w-full text-left my-4 sortable">
                <tr class="border-b-[1px]">
                    <th class="px-3">Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th class="px-5">Publication</th>
                    <th>Editor</th>
                    <th class="px-3">Issue</th>
                </tr>
                {% for magazine in magazines %}
                <tr class="border-b-[1px] hover:bg-blue-50 cursor-pointer" onclick="handleMagazineRowClicked(this)">
                    <td class="px-3 w-[35vw]">{{magazine.title}}</td>
                    <td class="pr-10">{{magazine.author}}</td>
                    <td>${{magazine.price}}</td>
                    <td class="px-5">{{magazine.publication}}</td>
                    <td>{{magazine.editor}}</td>
                    <td class="px-3">{{magazine.issue}}</td>
                </tr>
                {% endfor %}
        </div>
        </table>
</body>
</html>