<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Bookstore</title>
</head>
<body>
    <nav class="px-6 py-4 flex justify-between border-b-[1px]">
        <a href="/" class="px-4 font-medium hover:text-blue-900">Bookstore</a>
        <div>
            <a href="/auth/create" class="px-4 text-sm hover:text-blue-900">Sign Up</a>
            <a href="/auth/login" class="px-4 text-sm hover:text-blue-900">Log In</a>
        </div>
    </nav>
    <main class="m-8 box-border">
        <span>Books</span>
        <table class="w-full text-left my-4">
            <!-- <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr> -->
        </table>
        <!-- {% for book in books %}
        <div>{{book["title"]}}</div>
        {% endfor %} -->
    </main>
</body>
</html>