<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Bookstore</title>
</head>
<body>
    <nav class="px-6 py-2 flex justify-between border-b-[1px]">
        <a href="/" class="px-4 font-medium hover:text-blue-900">Bookstore</a>
        <div>
            <a href="/dashboard" class="px-4 text-sm hover:text-blue-900">Dashboard</a>
            <a href="/auth/create" class="px-4 text-sm hover:text-blue-900">Sign Up</a>
            <a href="/auth/login" class="px-4 text-sm hover:text-blue-900">Log In</a>
        </div>
    </nav>
    <main class="m-8 box-border">
        <span>Books</span>
        <table class="w-full text-left my-4 sortable">
            <tr class="border-b-[1px]">
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Genre</th>
                <th>Pages</th>
                <th>ISBN</th>
            </tr>
            {% for book in books %}
            <tr class="border-b-[1px]">
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>$ {{book.price}}</td>
                <td>{{book.genre}}</td>
                <td>{{book.pages}}</td>
                <td>{{book.ISBN}}</td>
            </tr>
            {% endfor %}
        </table>
        
        <div></div>
    </main>
</body>
</html>