<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="w-full p-6 box-border">
        <a href="/" class="hover:text-blue-900">← Back</a>
    </nav>
    <main class="p-6 box-border flex flex-col justify-center h-[calc(100vh-72px)]">
        <span class="my-2">Filter Data</span>
        <form action="/search" method="POST" class="flex flex-col">
            <input type="text" name="title" placeholder="Enter a title..." class="w-1/2 my-3 px-2 py-1 border-[1px] rounded-lg">
            <input type="text" name="author" placeholder="Enter an author..." class="w-1/2 my-3 px-2 py-1 border-[1px] rounded-lg">
            <input type="text" name="price" placeholder="Enter a price..." class="w-1/2 my-3 px-2 py-1 border-[1px] rounded-lg">
            <select name="operator" class="w-1/6 my-3 p-1 border-[1px] rounded-lg">
                <option value="Any">Any</option>
                <option value="not">Equal</option>
                <option value="less">Less Than</option>
                <option value="greater">Greater Than</option>
            </select>
            <button class="w-2/5 my-10 p-2 rounded-lg border-[1px] text-sm hover:bg-blue-50" type="submit">Search</button>
        </form>
    </main>
</body>
</html>